<header class="app-header">
  <div class="logo-container">
    <img src="..\..\assets\BAMTechnologies_logo.png" alt="Bam Technologies Logo" />
  </div>
  <div class="title">
    <h2>Astronaut Career Tracking Systems</h2>
  </div>
  <nav class="nav-buttons">
    <a mat-button href="https://www.bamtech.net/about#aboutus" target="_blank" rel="noopener">About</a>
    <a mat-button href="https://www.bamtech.net/careers#join" target="_blank" rel="noopener">Careers</a>
    <a mat-button href="https://www.bamtech.net/contact" target="_blank" rel="noopener">Contact Us</a>
  </nav>
</header>
