.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.title{
  justify-content: center;
  display: flex;
  flex-grow: 1;
  color: #00053a;
  // lighter blue color: #265AA6;
  text-align: center;
}

.logo-container img {
  height: 53px;
}

.nav-buttons {
  display: flex;
  gap: 8px;
  flex: 0 1 auto;
  justify-content: flex-end;
}

.nav-buttons button {
  color: #333;
  font-size: 1.1rem;
  padding: 0 12px;
  min-width: 80px;
}
// remove default underline from links
.nav-buttons a {
  text-decoration: none;
}

