<h3 class="title">All Astronauts Table</h3>

<table mat-table [dataSource]="allAstronauts" multiTemplateDataRows class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Current Rank Column -->
  <ng-container matColumnDef="currentRank">
    <th mat-header-cell *matHeaderCellDef> Current Rank </th>
    <td mat-cell *matCellDef="let element"> {{element.currentRank}} </td>
  </ng-container>

  <!-- Current Duty Title Column -->
  <ng-container matColumnDef="currentDutyTitle">
    <th mat-header-cell *matHeaderCellDef> Current Duty Title </th>
    <td mat-cell *matCellDef="let element"> {{element.currentDutyTitle}} </td>
  </ng-container>

  <!-- Career Start Date Column -->
  <ng-container matColumnDef="careerStartDate">
    <th mat-header-cell *matHeaderCellDef> Career Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element.careerStartDate | date}} </td>
  </ng-container>

  <!-- Career End Date Column -->
  <ng-container matColumnDef="careerEndDate">
    <th mat-header-cell *matHeaderCellDef> Career End Date </th>
    <td mat-cell *matCellDef="let element"> {{element.careerEndDate | date}} </td>
  </ng-container>

    <!-- Expand/Collapse Column -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
        <mat-icon>{{ expandedRow === row ? 'expand_less' : 'expand_more' }}</mat-icon>
    </td>
  </ng-container>

  <!-- Expanded Content Details - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
      <div class="row-detail">
        <h5>expansion works</h5>
      </div>
    </td>
  </ng-container>




  <!-- Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="regular-row"
      [class.expanded-row]="expandedRow === row"
      (click)="expandedRow = expandedRow === row ? null : row">
  </tr>

  <!-- Detail row -->
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"
      [hidden]="expandedRow !== row">
  </tr>
</table>
